@{
    ViewBag.Title = "Lobby";
}

@Html.Partial("_PromoSection")

<section id="lobby" class="container">
    <div class="contest-search-bar">
        <div class="row">
            <div class="col-sm-3">
                <div class="btn-create-contest-1">
                    <a href="#">
                        <div class="btn btn-default">
                            <div>Create</div>
                            <div>Contest</div>
                        </div>
                    </a>
                </div>

                <div class="next-contest-clock">
                    <div>Contest Start</div>
                    <div class="clock">
                        <div class="h">01:</div>
                        <div class="m">24:</div>
                        <div class="s">50</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="search-input">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                        </span>
                        <input type="text" class="form-control" id="search-term" name="search-term" placeholder="Search Contests ...">
                    </div>
                </div>

            </div>
            <div class="col-sm-3 sort-by-input">
                <input type="hidden" id="sort-by" name="sort-by" />
                <span>Sort Contests by:</span>
                <div class="btn-group custom-dropdow">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="sort-by-selected">Prizes</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Start time</a></li>
                        <li><a href="#">Entry fee</a></li>
                        <li><a href="#">Prizes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


