@{
    ViewBag.Title = "Lobby";
}

@Html.Partial("_PromoSection")

<section id="lobby" class="container">
    <form id="lobby-filter" name="lobby-filter">
        
        @Html.Partial("_SearchBar")

        <div class="row">
            <div class="col-sm-2 hidden-xs">
                @Html.Partial("_LeftBar")                    
            </div>
            <div id="contest-result" class="col-sm-10">
                <div class="view active">
                    @Html.Partial("_ContestCaps")
                </div>
                <div class="view">
                    
                </div>
            </div>
        </div>
    </form>    
</section>


