body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.align-right{
    text-align:right;
}

/* Temporary CSS */

.table-content-lineup,
.table-content-lineup td {
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    padding: 5px;
}

.player-wrapper {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    height: 100px;
}

.livecontest-info h4{
    display:inline-block;
}


.custom-navbar {
    margin-bottom: 0;
}
.user-navbar {    
    background-color: white;
    line-height: 50px;    
    height: 50px;
}
.main-navbar {
    top: 50px;   
    z-index: 1029; 
    background: #004246;
    color: #ffffff;
}
.social-btn {
    display: inline;
    font-size: 15px;    
    padding-right: 40px;
    color: #004246;
}
.social-btn a {    
    color: #004246;
}
.social-btn a:hover {
    color: #206266;
}
.navbar-item,
.navbar-item > div {
    display: inline-block;
}
.round-btn {
    height: 35px;    
    width: 35px;
    border-radius: 35px;    
    text-align: center;    
}
.navbar-item .round-btn {
    margin-top: 7.5px;
    line-height: 36px; 
    font-size: 20px;   
}
.icon-btn {    
    color: #ffffff;
    background: #004246;
    position: relative;
}
.icon-btn:hover {    
    color: #2a7763;
    background: #bcbcbc;
}
.custom-caret {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #004246;
    line-height: 0px;
    font-size: 12px;
    transform: translateX(2px) translateY(-2px) rotate(-45deg);
}
.user-cash {
    font-family: RussellSquareStd;
    position: relative;
    top: -2px;
}
.navbar-item {
    padding-left: 20px;
}
.dropdown-menu.open {
    display: block;
    z-index: 1030;
}

.user-navbar .navbar-right {
    float: right !important;
    margin-right: 0;
}

.main-navbar .navbar-brand {
    padding: 0;
    padding-top: 2px;    
}
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.main-navbar .nav > li > a {
    padding-left: 40px;
    padding-right: 0px;
    text-transform: uppercase;
    color: #cccccc;
    font-family: AquaGrotesque;
    font-size: 15px;
}
.main-navbar .navbar-right {    
    margin-right: 0;
}