/*  @font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    src: url('../fonts/MyriadPro-Regular.eot'),
         url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#ralewaybold') format('svg'); 
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'MyriadPro-Regular';    
    src: url('../fonts/MyriadPro-Regular.eot'); 
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.align-right{
    text-align:right;
}

/* Temporary CSS */

.table-content-lineup,
.table-content-lineup td {
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    padding: 5px;
}

.player-wrapper {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    height: 100px;
}

.livecontest-info h4{
    display:inline-block;
}


.custom-navbar {
    margin-bottom: 0;
}
.user-navbar {    
    background-color: white;
    line-height: 50px;    
    height: 50px;
}
.main-navbar {
    top: 50px;   
    z-index: 1029; 
    background: #004246;
    color: #ffffff;
}
.social-btn {
    display: inline;
    font-size: 15px;    
    padding-right: 40px;
    color: #004246;
}
.social-btn a {    
    color: #004246;
}
.social-btn a:hover {
    color: #206266;
}
.navbar-item,
.navbar-item > div {
    display: inline-block;
}
.round-btn {
    height: 35px;    
    width: 35px;
    border-radius: 35px;    
    text-align: center;    
}
.navbar-item .round-btn {
    margin-top: 7.5px;
    line-height: 36px; 
    font-size: 20px;   
}
.icon-btn {    
    color: #ffffff;
    background: #004246;
    position: relative;
}
.icon-btn:hover,
.promo-item .entry-btn-1:hover {    
    color: #2a7763;
    background: #bcbcbc;
}
.custom-caret {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #004246;
    line-height: 0px;
    font-size: 12px;
    transform: translateX(2px) translateY(-2px) rotate(-45deg);
}
.user-cash {
    font-family: RussellSquareStd;
    position: relative;
    top: -2px;
}
.navbar-item {
    padding-left: 20px;
}
.dropdown-menu.open {
    display: block;
    z-index: 1030;
}

.user-navbar .navbar-right {
    float: right !important;
    margin-right: 0;
}

.main-navbar .navbar-brand {
    padding: 0;
    padding-top: 2px;    
}
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.main-navbar .nav > li > a {
    padding-left: 40px;
    padding-right: 0px;
    text-transform: uppercase;
    color: #cccccc;
    font-family: AquaGrotesque;
    font-size: 15px;
}
.main-navbar .navbar-right {    
    margin-right: 0;
}

section.promos {
    border: 0;
    box-shadow: 4px -10px 5px 12px #004246;
    position: relative;
}
section.promos .background > div,
section.promos .promos-bar > div {
    height: 273px;
}
section.promos .background .golden {
    background: #c6a25c;
}
section.promos .promos-bar {
    background: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
}
section.promos .promos-bar .sport {
    background: #c6a25c;
    border-radius: 0 273px 273px 0;
    position: relative;
    line-height: 273px;
    text-align: right;
}
section.promos .promos-bar .sport .sprite {
    height: 60px;
    width: 60px;
    display: inline-block;
    background: url(../img/sprite.png);
    background-repeat: no-repeat;    
}
section.promos .promos-bar .sport .sprite.mlb {
    background-position-x: 0;
    background-position-y: 0px;
    transform: translateY(50%);
}
section.promos .promos-bar .sport .sport-name {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    font-family: FranklinGothic;
    font-weight: bolder;
    font-style: italic;
    line-height: 60px;
    transform: translateY(25%);
    padding-left: 15px;
    padding-right: 25px;
}

section.promos .promo-items {
 
}

section.promos .promo-item {
    margin-top: 12px;
    margin-right: 15px;
    padding-top: 5px;
    height: 250px;
    width: 250px;
    border: 0;
    border-radius: 250px;
    box-shadow: 0px 5px 7px -2px #004246;
/*     position: absolute; */
/*     top: 50%;
    left: 50%; */
/*     transform: translateX(-50%) translateY(-50%); */
    text-align: center;
    display: inline-block;    
    position: relative;
}

.promo-item .promo-text {
    font-family: 'Roboto-Medium';
    font-size: 15px;    
}

.promo-item .entry-btn-1 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: #c6a25c;
    color: #ffffff;
    text-transform: uppercase;
}
.promo-item .entry-btn-1 > span {
    line-height: 54px;
    font-family: 'MyriadPro-Regular';
    font-size: 11px;
}
