@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot'),
         url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.eot'),
         url('../fonts/Roboto-Bold.woff') format('woff'),         
         url('../fonts/Roboto-Bold.svg') format('svg');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),    
         url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.eot'),     
         url('../fonts/Roboto-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.eot'),
         url('../fonts/Roboto-Medium.svg') format('svg');
}
@font-face {
    font-family: 'RussellSquareStd-Regular';
    src: url('../fonts/RussellSquareStd.otf'),
         url('../fonts/RussellSquareStd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RussellSquareStd.woff') format('woff'),
         url('../fonts/RussellSquareStd.ttf') format('truetype'),
         url('../fonts/RussellSquareStd.svg') format('svg');
}
@font-face {
    font-family: 'FranklinGothic-Heavy';
    src: url('../fonts/FranklinGothic-Heavy.ttf') format('truetype'),
         url('../fonts/FranklinGothic-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FranklinGothic-Heavy.woff') format('woff'),
         url('../fonts/FranklinGothic-Heavy.otf'),
         url('../fonts/FranklinGothic-Heavy.svg') format('svg');
}
@font-face {
    font-family: 'FranklinGothic-HeavyItalic';
    src: url('../fonts/FranklinGothic-HeavyItalic.ttf') format('truetype'),
         url('../fonts/FranklinGothic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FranklinGothic-HeavyItalic.woff') format('woff'),         
         url('../fonts/FranklinGothic-HeavyItalic.otf'),
         url('../fonts/FranklinGothic-HeavyItalic.svg') format('svg');
}
@font-face {
    font-family: 'FranklinGothic-Demi';
    src: url('../fonts/FranklinGothic-Demi.ttf') format('truetype'),
         url('../fonts/FranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FranklinGothic-Demi.woff') format('woff'),
         url('../fonts/FranklinGothic-Demi.otf'),
         url('../fonts/FranklinGothic-Demi.svg') format('svg');
}
@font-face {
    font-family: 'Digital-7Mono';
    src: url('../fonts/Digital-7Mono.ttf') format('truetype'),
         url('../fonts/Digital-7Mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Digital-7Mono.woff') format('woff'),
         url('../fonts/Digital-7Mono.otf'),
         url('../fonts/Digital-7Mono.svg') format('svg');
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.align-right{
    text-align:right;
}

/* Temporary CSS */

.table-content-lineup,
.table-content-lineup td {
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    padding: 5px;
}

.player-wrapper {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    height: 100px;
}

.livecontest-info h4{
    display:inline-block;
}


.custom-navbar {
    margin-bottom: 0;
}
.user-navbar {    
    background-color: white;
    line-height: 50px;    
    height: 50px;
    border: none;
}
.main-navbar {
    top: 50px;   
    z-index: 1029; 
    background: #004246;
    color: #ffffff;
    border: 0;
}
.social-btn {
    display: inline;
    font-size: 15px;    
    padding-right: 40px;
    color: #004246;
}
.social-btn a {    
    color: #004246;
}
.social-btn a:hover {
    color: #206266;
}
.navbar-item,
.navbar-item > div {
    display: inline-block;
}
.round-btn {
    height: 35px;    
    width: 35px;
    border-radius: 35px;    
    text-align: center;    
}
.navbar-item .round-btn {
    margin-top: 7.5px;
    line-height: 36px; 
    font-size: 20px;   
}
.icon-btn {    
    color: #ffffff;
    background: #004246;
    position: relative;
}
.icon-btn:hover,
.promo-item .entry-btn-1:hover {    
    color: #2a7763;
    background: #bcbcbc;
}
.custom-caret {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #004246;
    line-height: 0px;
    font-size: 12px;
    transform: translateX(2px) translateY(-2px) rotate(-45deg);
}
.user-cash {
    font-family: 'RussellSquareStd-Regular';
    position: relative;
    top: -2px;
}
.navbar-item {
    padding-left: 20px;
}
.dropdown-menu.open {
    display: block;
    z-index: 1030;
}

.user-navbar .navbar-right {
    float: right !important;
    margin-right: 0;
}

.main-navbar .navbar-brand {
    padding: 0;
    padding-top: 2px;    
}
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.main-navbar .nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'FranklinGothic-Heavy';
    font-size: 15px;
}
.main-navbar .nav > li:last-child > a {
    padding-right: 0;
}
.main-navbar .navbar-right {    
    margin-right: 0;
}
.main-navbar.navbar-inverse .navbar-nav > .open > a, 
.main-navbar.navbar-inverse .navbar-nav > .open > a:hover, 
.main-navbar.navbar-inverse .navbar-nav > .open > a:focus {
    background: #fff;
    color: #001819;
}
section.promos {
    border: 0;
    box-shadow: 4px -10px 5px 12px #004246;
    position: relative;
}
section.promos .background > div,
section.promos .promos-bar > div {
    height: 273px;
}
section.promos .background .golden {
    background: #c6a25c;
}
section.promos .promos-bar {
    background: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
}
section.promos .promos-bar .sport {
    background: #c6a25c;
    border-radius: 0 273px 273px 0;
    position: relative;
    line-height: 273px;
    text-align: right;
}
section.promos .promos-bar .sport .sprite {
    height: 60px;
    width: 60px;
    display: inline-block;
    background: url(../img/sprite.png);
    background-repeat: no-repeat;    
}
section.promos .promos-bar .sport .sprite.mlb {
    background-position-x: 0;
    background-position-y: 0px;
    transform: translateY(50%);
}
section.promos .promos-bar .sport .sport-name {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 63px;
    font-family: 'FranklinGothic-HeavyItalic';    
    line-height: 82px;
    transform: translateY(25%);
    padding-left: 15px;
    padding-right: 25px;
}

section.promos .promo-items {
 
}

section.promos .promo-item {
    margin-top: 12px;
    margin-right: 15px;
    padding-top: 5px;
    height: 250px;
    width: 250px;
    border: 0;
    border-radius: 250px;
    box-shadow: 0px 5px 7px -2px #004246;
/*     position: absolute; */
/*     top: 50%;
    left: 50%; */
/*     transform: translateX(-50%) translateY(-50%); */
    text-align: center;
    display: inline-block;    
    position: relative;
}

.promo-item .promo-text {
    font-family: 'Roboto-Medium';
    font-size: 15px;    
    padding: 0px 5px;
}

.promo-item .entry-btn-1 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: #c6a25c;
    color: #ffffff;
    text-transform: uppercase;
}
.promo-item .entry-btn-1 > span {
    line-height: 55px;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    text-align: center;
}

#lobby {
    margin-top: 40px;
}
.contest-search-bar {
    background: #004246;
    color: #ffffff;
    padding: 6px 15px;
    height: 44px;
}
.btn-create-contest-1 {
    display: inline-block;
}
.btn-create-contest-1 div.btn,
.btn-create-contest-1 .btn-default:active:hover {
    color: #ffffff;
    background: transparent;
    height: 32px;
    width: 90px;
    border: 2px solid #ffffff;
    border-radius: 2px;    
    font-family: 'RussellSquareStd-Regular';
    font-size: 16px;
    line-height: 13px;
    padding: 0 5px;
    text-transform: lowercase;
}
.btn-create-contest-1 div.btn > div:nth-child(2) {    
    font-size: 13px;
}
.next-contest-clock {
    display: inline-block;
    font-family: 'FranklinGothic-Demi';
    font-size: 12px;
    position: absolute;
    margin-left: 40px;
    line-height: 15px;
}
.next-contest-clock > div {
/*     display: inline-block; */    
}
.clock > div {
    display: inline-block;
    font-family: 'Digital-7Mono';
    font-size: 24px;
    line-height: 17px;
}
.btn.btn-default {
    border-radius: 2px;
}
.search-input input {
    max-width: initial;
    height: 33px;
    border-left: 0;
    font-family: 'FranklinGothic-Demi';
    font-size: 16px;
    line-height: 33px;
}
.search-input .btn-default {
    height: 33px;
    line-height: 0px;
    font-size: 20px;
    color: #274500;    
    border-right: 0;
}
.sort-by-input,
.sort-by-input .btn {
    font-family: 'RussellSquareStd-Regular';
    font-size: 18px;
    text-align: right;
}
.sort-by-input > span {
    color: #aeacac;
}

.custom-dropdown-2-btn button,
.custom-dropdown-2-btn button:hover,
.custom-dropdown-2-btn button:active,
.custom-dropdown-2-btn button:visited,
.custom-dropdown-2-btn button:focus,
.custom-dropdown-2-btn.open > .dropdown-toggle.btn-default,
/* .btn-default:active:hover, 
.btn-default.active:hover,  */
.custom-dropdown-2-btn .btn-default:active:focus, 
.custom-dropdown-2-btn .btn-default.active:focus, 
.custom-dropdown-2-btn.open > .dropdown-toggle.btn-default:focus, 
.custom-dropdown-2-btn .btn-default:active.focus, 
.custom-dropdown-2-btn .btn-default.active.focus, 
.custom-dropdown-2-btn.open > .dropdown-toggle.btn-default.focus {
    background-color: transparent;
    border: none;
    color: #ffffff;
    box-shadow: none;
    text-transform: uppercase;
}

.contest-left-filter {

}
.contest-left-filter .filter-section {
    border-bottom: 2px solid #000000;
    padding: 5px;    
    font-family: 'FranklinGothic-Demi';
    font-size: 12px;
}
.contest-left-filter .filter-section:last-child {
    border-bottom: none;
}
.contest-left-filter .filter-section > div {
    margin-bottom: 5px;
}
h3 {
    font-family: 'FranklinGothic-Demi';
    font-size: 18px;
    color: #000000;
    margin: 10px 0px;
}

.custom-radio {
    cursor: pointer;
    color: #c6a25c;    
}
.custom-radio .outside {
    height: 13px;
    width: 13px;
    background: transparent;    
    border: 2px solid;
    display: inline-block;
    border-radius: 13px;
    border-color: #c6a25c;
    position: relative;    
    top: 2px;    
    margin-right: 2px;
}
.custom-radio .inside {
    display: none;
    border: none;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background: #004246;
    position: absolute;    
    top: 1px;
    left: 1px;    
}
.custom-radio.active .inside {
    display: inline-block;
}
.lock,
.unlock {
    display: none;
    margin-left: 5px;
}
.custom-radio.state-1 .lock {
    display: inline-block;
}
.custom-radio.state-2 .unlock {
    display: inline-block;
}
.custom-radio.state-2 {
    color: #000000;
}

.filter-vs-item > div {
    display: inline-block;
}
.filter-vs-item .teams {
    font-family: 'RussellSquareStd-Regular';
    font-size: 18px;
}
.filter-vs-item .location {
    font-family: 'Roboto-Regular';
    font-size: 10px;
    color: #cbaa6b;
    text-transform: uppercase;
}
.filter-vs-item .weather {
    position: absolute;
    line-height: 40px;
    font-size: 24px;
    right: 25px;
    color: #cbaa6b;
}

.custom-radio-2 {
    color: #000000;
}
.custom-radio-2.active {
    color: #004246;
}

.custom-range-input {
    padding-top: 0px;
    padding-left: 1px;
}
.custom-range-input .ui-slider {
    height: 4px;
    border: 2px solid #c6a25c;
    width: calc(100% - 15px);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.custom-range-input .ui-slider .ui-slider-range {
    background: #c6a25c;
}
.custom-range-input .ui-slider .ui-slider-handle {    
    cursor: pointer;
    top: -6px;    
}
.custom-range-input .ui-slider .ui-slider-handle.custom-slider-handle {
    height: 13px;
    width: 13px;
    background: #c6a25c;
    border: 2px solid #000000;
    border-radius: 9px;
}
.custom-range-input .ui-slider .ui-slider-handle:hover,
.custom-range-input .ui-slider .ui-slider-handle:focus {
    /* background: #0094d1; */
    outline: none;
    color: #11a5e2;
}
#entryfee-values {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
#entryfee-values span {
    position: absolute;
    /* transform: translateX(0%); */
    width: 50px;
    text-align: center;    
}

.custom-dropdown-1 {
    background: #004246;
    opacity: 0.9;    
    border-radius: 2px;
    padding: 15px;
    font-family: 'FranklinGothic-Heavy';
    font-size: 15px;
    text-transform: uppercase;
}
.custom-dropdown-1 > li {    
    border: none;
    border-bottom: 2px solid #000000;
}
.custom-dropdown-1 > li:last-child {
    border: none;
}
.custom-dropdown-1 > li > a {
    color: #ffffff;
    padding: 5px;;
}
.custom-dropdown-1 > li:last-child > a {
    padding-bottom: 0;
}
.custom-dropdown-1 > li > a:hover, 
.custom-dropdown-1 > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: initial;
}

.custom-dropdown-3 {
    min-width: auto;
    background: #ffffff;
    opacity: 0.9;    
    border-radius: 2px;
    padding: 10px;
    font-family: 'FranklinGothic-Heavy';
    font-size: 15px;
    text-transform: uppercase;    
}
.navbar-nav > li > .custom-dropdown-3.dropdown-menu {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.custom-dropdown-3 > li {    
    border: none;
    border-bottom: 2px solid #000000;
}
.custom-dropdown-3 > li:last-child {
    border: none;
}
.custom-dropdown-3 > li > a {
    color: #001819;
    padding: 5px;
    text-align: center;
}
.custom-dropdown-3 > li:last-child > a {
    padding-bottom: 0;
}
.custom-dropdown-3 > li > a:hover, 
.custom-dropdown-3 > li > a:focus {
    color: ##001819;
    text-decoration: none;
    background-color: initial;
}

.custom-dropdown-1.custom-dropdown-2 {
    font-family: 'RussellSquareStd-Regular';
    font-size: 15px;
}