<div class="contest-cap flipper">
    
    <div class="objective-meter"></div>
    
    <div class="front side">
        @Html.Partial("_ContestCapItemFront")        
    </div>
    
    <div class="back side">
        @Html.Partial("_ContestCapItemBack")        
    </div>
</div>