<div class="contest-cap">
    
    <div class="objective-meter">
        <div class="percent-bottom min">1</div>
        <div class="percent-bottom max">@ViewData["contestants"]</div>        
        <div class="circular-progress green radial-progress-cap circular-progress-bar-js"
                data-progress="@ViewData["progress"]"
                data-time="1000"
                data-current="0">
            <div class="percent-handle">
                <div class="data-progress"></div>
            </div>
            <span class="circular-progress-left">
                <span class="circular-progress-bar"></span>
            </span>
            <span class="circular-progress-right">
                <span class="circular-progress-bar"></span>
            </span>
            <div class="circular-progress-value">

            </div>
        </div>        
    </div>
    
    <div class="flipper">
        <div class="front side">
            @Html.Partial("_ContestCapItemFront")
        </div>

        <div class="back side">
            @Html.Partial("_ContestCapItemBack")
        </div>
    </div>    
</div>