<div class="caps-view">
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>    
</div>


<div class="scores">
    @Html.Partial("_TotalScore", new ViewDataDictionary {
                                { "contestants", "3732"  },
                                { "position", "3732"  },
                                { "win-position", "1000"  },
                                { "prize", "0"  },
                                { "points", "0"  },
                                { "percent", "0"  },
                                { "time", "1000"  }
                            })
    <div class="separator"></div>
    <div class="target-score">
        @Html.Partial("_TargetScore", new ViewDataDictionary {
                                    { "events", "9"  },
                                    { "completed-events", "14"  },
                                    { "css-code", "k"  },
                                    { "short-name", "K" },
                                    { "name", "Strikeouts" },
                                    { "time", "500"  }
                                })
    </div>
</div>