<div class="cap-sport">
    <div class="sport-icon sprite mlb-small"></div>
    MLB
</div>
<div class="name">
    stolen bases contest
</div>
<div class="prize">
    $ 60 000
    <div class="prize-note">
        Garantized in Prizes
    </div>
</div>        
<div class="datetime-note">
    10:10 pm <div class="time-class">After hour</div>
</div>
<div>
    <a href="@Url.Action("Details", "Contest")" class="load-on-modal-js">
        <div class="cap-btn sprite info">
        </div>
    </a>
    <a href="#">
        <div class="cap-btn sprite prizes">
        </div>
    </a>
    <a href="#">
        <div class="cap-btn sprite join">
        </div>
    </a>
</div>
<div class="entry-btn">
    <div class="entry-fee">$ 4</div>
    <div class="entry-type">Multy Entries</div>
</div>
