<div class="caps-view">
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>    
</div>


@Html.Partial("_TotalScore", new ViewDataDictionary {
                                { "contestants", "3732"  },
                                { "position", "3732"  },
                                { "win-position", "1000"  },
                                { "prize", "0"  },
                                { "points", "0"  },
                                { "percent", "0"  },
                                { "time", "1000"  }
                            })