<div class="caps-view">
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem")
        }
    </div>    
</div>

<div class="circular-progress blue circular-progress-bar-js"
     data-progress="75"
     data-current="0">
    <span class="circular-progress-left">
        <span class="circular-progress-bar"></span>
    </span>
    <span class="circular-progress-right">
        <span class="circular-progress-bar"></span>
    </span>
    <div class="circular-progress-value">

    </div>
</div>    

<div class="circular-progress blue circular-progress-bar-js"
     data-progress="25"
     data-current="0">
    <span class="circular-progress-left">
        <span class="circular-progress-bar"></span>
    </span>
    <span class="circular-progress-right">
        <span class="circular-progress-bar"></span>
    </span>
    <div class="circular-progress-value">

    </div>
</div>    

<div class="circular-progress blue circular-progress-bar-js"
     data-progress="75"
     data-current="100">
    <span class="circular-progress-left">
        <span class="circular-progress-bar"></span>
    </span>
    <span class="circular-progress-right">
        <span class="circular-progress-bar"></span>
    </span>
    <div class="circular-progress-value">

    </div>
</div>    

<div class="circular-progress blue circular-progress-bar-js"
     data-progress="25"
     data-current="75">
    <span class="circular-progress-left">
        <span class="circular-progress-bar"></span>
    </span>
    <span class="circular-progress-right">
        <span class="circular-progress-bar"></span>
    </span>
    <div class="circular-progress-value">

    </div>
</div>    