<div class="caps-view">
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem", new ViewDataDictionary { 
                    { "contestants", (i+1) * 1000 },
                    { "progress", (i+1) * 17 }
                })
        }
    </div>
    <div>
        @for (int i = 0; i < 3; i++)
        {
            @Html.Partial("_ContestCapItem", new ViewDataDictionary {
                    { "contestants", (i+1) * 1500 },
                    { "progress", (i+1) * 33 }
                })
        }
    </div>    
</div>


