<div class="navbar navbar-inverse navbar-fixed-top custom-navbar user-navbar">
    <div class="container">
        <div class="navbar-left hidden-sm hidden-xs">
            <div class="social-btn">
                <a href="#"><span class="fa fa-twitter"></span></a>
            </div>
            <div class="social-btn">
                <a href="#"><span class="fa fa-facebook"></span></a>
            </div>
            <div class="social-btn">
                <a href="#"><span class="fa fa-dribbble"></span></a>
            </div>
        </div>
        <div class="navbar-right">                     
            <div class="navbar-item">
                <a href="#">
                    <div class="icon-btn round-btn">
                        <span class="fa fa-question"></span>
                    </div>
                </a>
            </div>
            <div class="navbar-item">
                <a href="#">
                    <div class="icon-btn round-btn">
                        <span class="fa fa-bullhorn"></span>
                    </div>
                </a>
            </div>
            <div class="navbar-item dropdown">
                <a href="#user-dropdown" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="icon-btn round-btn">
                        <span class="fa fa-user"></span>
                        <div class="custom-caret fa fa-caret-down"></div>
                    </div>
                </a>
                <ul id="user-dropdown" class="dropdown-menu custom-dropdown-1">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">My Logs</a></li>                                        
                    <li><a href="#">Log out</a></li>                    
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="navbar-item">
                <div class="user-cash">$ 10000</div>
                <div>
                    <a href="#">
                        <div class="icon-btn round-btn">
                            <span class="fa fa-plus"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top custom-navbar main-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>            
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png"/></a>
        </div>
        <div class="navbar-collapse collapse">            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">History</a>
                    <ul class="dropdown-menu custom-dropdown-3">                        
                        <li><a href="#">Logs</a></li>                        
                        <li><a href="#">Stats</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Contests", "Index", "Lobby")</li>
                <li><a href="#">Create Contest</a></li>
                <li><a href="#"><span class="fa fa-bars"></span></a></li>                
            </ul>
        </div>
    </div>
</div>