<div class="filter-vs-item">
    <div class="team-vs">
        <div class="teams">@ViewData["team1"] vs @ViewData["team2"]</div>
        <div class="location">@ViewData["location"]</div>
    </div>
    <div class="weather"><span class="wi wi-@ViewData["weather"]"></span></div>
</div>