<div class="points-cap">
    <div class="cap-wrapper">
        <div class="percent-bottom min">0%</div>
        <div class="percent-bottom max">100%</div>
        <div class="objective-meter">
            <div class="circular-progress green radial-progress-objetive circular-progress-bar-js"
                    data-progress="85"
                    data-time="1000"
                    data-current="0">
                <div class="percent-handle">
                    <div class="data-progress"></div>
                </div>
                <span class="circular-progress-left">
                    <span class="circular-progress-bar"></span>
                </span>
                <span class="circular-progress-right">
                    <span class="circular-progress-bar"></span>
                </span>
                <div class="circular-progress-value">

                </div>
            </div>    
        </div>
        <div class="cap">
            <div class="data-points">&nbsp;</div>
            <div>Puntos</div>
        </div>
    </div>
</div>