<div class="promo-item flipper">
    <div class="side front">
        @Html.Partial("_PromoItemData",
                    new ViewDataDictionary {
                        { "promoImg", ViewData["promoImg"]  },
                        { "promoText", ViewData["promoText"] },
                        { "promoLink", ViewData["promoLink"] }
                    })        
    </div>
    <div class="side back">
        @Html.Partial("_PromoItemData",
                    new ViewDataDictionary {
                        { "promoImg", ViewData["promoImg"]  },
                        { "promoText", ViewData["promoText"] },
                        { "promoLink", ViewData["promoLink"] }
                    })        
    </div>    
</div>
            