<img src="@ViewData["promoImg"]" />
<div class="promo-text">
    @ViewData["promoText"]
</div>
<div>
    <a href="@ViewData["promoLink"]">
        <div class="entry-btn-1">
            <span>Entry</span>
        </div>
    </a>
</div>