<div class="total-score total-score-js"
     data-contestants="3732"
     data-position="1254"
     data-win-position="1000"
     data-prize="$2000"
     data-points="10"
     data-percent="75">

    <div class="target-name">
        Total
    </div>

    <div class="score-bar">
        <div class="progress-bar"></div>
        <div class="data-contestants contestants-info max"></div>
        <div class="contestants-info min">1</div>        
        <div class="win-marker" title="Winning">w</div>                
        <div class="point-bar win-separator gold"></div>
        <div class="position-marker"><span class="fa fa-caret-down"></span></div>
        <div class="position-info">
            <span class="data-position position"></span> / <span class="data-contestants contestants"></span>
        </div>
        <div class="prize-marker"><span class="fa fa-caret-up"></span></div>
        <div class="data-prize prize"></div>
    </div>    

    <div class="points-cap">
        <div class="cap-wrapper">
            <div class="percent-bottom min">0%</div>
            <div class="percent-bottom max">100%</div>
            <div class="objective-meter">
                <div class="circular-progress green radial-progress-objetive circular-progress-bar-js"
                     data-progress="85">
                    <span class="circular-progress-left">
                        <span class="circular-progress-bar"></span>
                    </span>
                    <span class="circular-progress-right">
                        <span class="circular-progress-bar"></span>
                    </span>
                    <div class="circular-progress-value">

                    </div>
                </div>    
            </div>
            <div class="cap">
                <div class="data-points">&nbsp;</div>
                <div>Puntos</div>
            </div>
        </div>
    </div>
</div>