@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">
        FantasyGame home page. This place will be the hook where potential and registered users arrives.
    </p>
    <p>
        Most have, game info and legal links
    </p>
</div>

