<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataLayerEnvironment" type="DataAccess.Configurations.DataLayerEnvironmentSettings" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="noticeByEnvironment" value="test,modl,local,offline" />
    <add key="Environment" value="offline" />
  </appSettings>
  <connectionStrings>
    <!--Db2 connections-->
    <add name="FantasyDev" connectionString="Data Source=localhost;Initial Catalog=Fantasy;User ID=fantasyUser;Password=fantasypass;Max Pool Size=100;Min Pool Size=5;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
    <add name="FantasyModl" connectionString="" providerName="System.Data.SqlClient" />
    <add name="FantasyProd" connectionString="" providerName="System.Data.SqlClient" />
    <add name="FantasyOffline" connectionString="Data Source=localhost;Initial Catalog=Fantasy;User ID=fantasyUser;Password=fantasypass;Max Pool Size=100;Min Pool Size=5;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--DataLayer Environment Section-->
  <DataLayerEnvironment>
    <environments>
      <environment id="test">
        <fantasyMssql name="FantasyDev" schema="" />
        <sportsRadar name="sportsRadarDev" url="http://api.sportradar.us/" api_key="cwbp62jue2csyqw57f2efatq" />
      </environment>
      <environment id="modl">
        <fantasyMssql name="FantasyModl" schema="" />
        <sportsRadar name="sportsRadarModl" url="http://api.sportradar.us/" api_key="cwbp62jue2csyqw57f2efatq" />
      </environment>
      <environment id="prod">
        <fantasyMssql name="FantasyProd" schema="" />
        <sportsRadar name="sportsRadarProd" url="http://api.sportradar.us/" api_key="cwbp62jue2csyqw57f2efatq" />
      </environment>
      <environment id="offline">
        <fantasyMssql name="Fantasy" schema="" />
        <sportsRadar name="sportsRadarOffline" url="http://localhost/sportradar/" api_key="" />
      </environment>
    </environments>
  </DataLayerEnvironment>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1502.911" newVersion="4.2.1502.911" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>