<div class="target flipper">
    <div>
        <div class="side front">
            <div class="icon sprite @ViewData["css-code"]"></div>
        </div>
        <div class="side back">
            @ViewData["short-name"]
        </div>
    </div>
    <div>@ViewData["name"] (@ViewData["short-name"])</div>
</div>