<div class="total-score total-score-js"
     data-contestants="3732"
     data-position="1254"
     data-win-position="1000"
     data-prize="2000"
     data-points="10"
     data-percent="75">

    <div class="target-name">
        Total
    </div>

    <div class="score-bar">
        <div class="progress-bar"></div>
        <div class="data-contestants contestants-info max">3732</div>
        <div class="contestants-info min">1</div>        
        <div class="win-marker">W</div>        
        <div class="point-bar win-separator gold"></div>
        <div class="position-marker"><span class="fa fa-caret-down"></span></div>
        <div class="position-info">
            <span class="data-position">1254</span> / <span class="data-contestants">3732</span>
        </div>
        <div class="prize-marker"><span class="fa fa-caret-up"></span></div>
        <div class="data-prize">$2000</div>
    </div>

    <div class="points-cap">
        <div class="percent-bottom min">0%</div>
        <div class="percent-bottom max">100%</div>
        <div class="objective-meter"></div>
        <div class="cap">
            <div class="data-points">10</div>
            <div>Puntos</div>
        </div>
    </div>
</div>