@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">
        FantasyGame home page. This place will be the hook where potential and registered users arrives.
    </p>
    <p>
        Most have, game info and legal links
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Promotions</h2>
        <p>
            Game incentives, promos ...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notifications</h2>
        <p>Alerts and usefull notifications areas</p>        
    </div>
    <div class="col-md-4">
        <h2>Contest types</h2>
        <p>Contest types info</p>        
    </div>
</div>