@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">
        FantasyGame Administraive Site Home Page.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Entities</h2>
    </div>
    <div class="col-md-6">
        <ul>
            @{
                List<Tuple<string, string>> Entities = ViewBag.Entities;
                for (int i = 0; i < 8; i++)
                {
                    string Model = Entities[i].Item2;
                    string Name = Entities[i].Item1;
                    <li>@Html.ActionLink(Name, "Index", Model)</li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            @{
                for (int i = 8; i < 15; i++)
                {
                    string Model = Entities[i].Item2;
                    string Name = Entities[i].Item1;
                    <li>@Html.ActionLink(Name, "Index", Model)</li>
                }
            }
        </ul>
    </div>
</div>